# Projeto de Bases de Dados - Parte 2

### Grupo GG
<dl>
    <dt>HH horas (33.3%)</dt>
    <dd>istxxxxxxxx FirstName LastName</dd>
    <dt>HH horas (33.3%)</dt>
    <dd>istxxxxxxxx FirstName LastName</dd>
    <dt>HH horas (33.3%)</dt>
    <dd>istxxxxxxxx FirstName LastName</dd>
<dl>

In [8]:
%load_ext sql
%config SqlMagic.displaycon = 0
%config SqlMagic.displaylimit = 100
%sql postgresql+psycopg://postgres:postgres@postgres/postgres

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

Connecting and switching to connection 'postgresql+psycopg://postgres:***@postgres/postgres'

## 0. Carregamento da Base de Dados

Crie a base de dados “Aviacao” no PostgreSQL e execute os comandos para criação das tabelas desta base de dados apresentados no ficheiro “aviacao.sql”

In [15]:
%%sql
DROP TABLE IF EXISTS aeroporto CASCADE;
DROP TABLE IF EXISTS aviao CASCADE;
DROP TABLE IF EXISTS assento CASCADE;
DROP TABLE IF EXISTS voo CASCADE;
DROP TABLE IF EXISTS venda CASCADE;
DROP TABLE IF EXISTS bilhete CASCADE;

CREATE TABLE aeroporto(
	codigo CHAR(3) PRIMARY KEY CHECK (codigo ~ '^[A-Z]{3}$'),
	nome VARCHAR(80) NOT NULL,
	cidade VARCHAR(255) NOT NULL,
	pais VARCHAR(255) NOT NULL,
	UNIQUE (nome, cidade)
);

CREATE TABLE aviao(
	no_serie VARCHAR(80) PRIMARY KEY,
	modelo VARCHAR(80) NOT NULL
);

CREATE TABLE assento (
	lugar VARCHAR(3) CHECK (lugar ~ '^[0-9]{1,2}[A-Z]$'),
	no_serie VARCHAR(80) REFERENCES aviao,
	prim_classe BOOLEAN NOT NULL DEFAULT FALSE,
	PRIMARY KEY (lugar, no_serie)
);

CREATE TABLE voo (
	id SERIAL PRIMARY KEY,
	no_serie VARCHAR(80) REFERENCES aviao,
	hora_partida TIMESTAMP,
	hora_chegada TIMESTAMP, 
	partida CHAR(3) REFERENCES aeroporto(codigo),
	chegada CHAR(3) REFERENCES aeroporto(codigo),
	UNIQUE (no_serie, hora_partida),
	UNIQUE (no_serie, hora_chegada),
	UNIQUE (hora_partida, partida, chegada),
	UNIQUE (hora_chegada, partida, chegada),
	CHECK (partida!=chegada),
	CHECK (hora_partida<=hora_chegada)
);

CREATE TABLE venda (
	codigo_reserva SERIAL PRIMARY KEY,
	nif_cliente CHAR(9) NOT NULL,
	balcao CHAR(3) REFERENCES aeroporto(codigo),
	hora TIMESTAMP
);

CREATE TABLE bilhete (
	id SERIAL PRIMARY KEY,
	voo_id INTEGER REFERENCES voo,
	codigo_reserva INTEGER REFERENCES venda,
	nome_passegeiro VARCHAR(80),
	preco NUMERIC(7,2) NOT NULL,
	prim_classe BOOLEAN NOT NULL DEFAULT FALSE,
	lugar VARCHAR(3),
	no_serie VARCHAR(80),
	UNIQUE (voo_id, codigo_reserva, nome_passegeiro),
	FOREIGN KEY (lugar, no_serie) REFERENCES assento
);

++
||
++
++

## 1. Restrições de Integridade [3 valores]

Implemente na base de dados “Aviacao” as seguintes restrições de integridade, podendo recorrer a Triggers caso estritamente necessário:

(RI-1) Aquando do check-in (i.e. quando se define o assento em bilhete) a classe do bilhete tem de corresponder à classe do assento e o aviao do assento tem de corresponder ao aviao do voo

In [16]:
%%sql
-- (RI-1)
CREATE OR REPLACE FUNCTION checkin_ri()
RETURNS TRIGGER AS $$
DECLARE
  assento_classe BOOLEAN;
  voo_no_serie VARCHAR(80);
BEGIN
  -- Só verifica se o assento foi definido (check-in feito)
  IF NEW.lugar IS NOT NULL AND NEW.no_serie IS NOT NULL THEN

    -- Verifica se a classe do bilhete é igual à do assento
    SELECT prim_classe INTO assento_classe
    FROM assento
    WHERE lugar = NEW.lugar AND no_serie = NEW.no_serie;

    IF NOT FOUND THEN
      RAISE EXCEPTION 'Assento % no avião % não existe.', NEW.lugar, NEW.no_serie;
    END IF;

    IF assento_classe IS DISTINCT FROM NEW.prim_classe THEN
      RAISE EXCEPTION 'Classe do bilhete (prim_classe=%) não corresponde à do assento (prim_classe=%).',
        NEW.prim_classe, assento_classe;
    END IF;

    -- Verifica se o avião do assento é o mesmo do voo
    SELECT no_serie INTO voo_no_serie
    FROM voo
    WHERE id = NEW.voo_id;

    IF NOT FOUND THEN
      RAISE EXCEPTION 'Voo com ID % não encontrado.', NEW.voo_id;
    END IF;

    IF voo_no_serie IS DISTINCT FROM NEW.no_serie THEN
      RAISE EXCEPTION 'Avião do assento (%) não corresponde ao avião do voo (%).',
        NEW.no_serie, voo_no_serie;
    END IF;

  END IF;

  RETURN NEW;
END;
$$ LANGUAGE plpgsql;

CREATE TRIGGER trigger_checkin_ri
BEFORE INSERT OR UPDATE ON bilhete
FOR EACH ROW
EXECUTE FUNCTION checkin_ri();

++
||
++
++

(RI-2) O número de bilhetes de cada classe vendidos para cada voo não pode exceder a capacidade (i.e., número de assentos) do avião para essa classe

In [17]:
%%sql
-- (RI-2)
CREATE OR REPLACE FUNCTION plane_capacity()
RETURNS TRIGGER AS $$
DECLARE
  aviao_voo VARCHAR(80);
  bilhetes_vendidos INTEGER;
  capacidade_disponivel INTEGER;
BEGIN
  -- Obter o avião do voo
  SELECT no_serie INTO aviao_voo
  FROM voo
  WHERE id = NEW.voo_id;

  IF NOT FOUND THEN
    RAISE EXCEPTION 'Voo com ID % não existe.', NEW.voo_id;
  END IF;

  -- Contar bilhetes já vendidos para o voo e classe (excluindo o próprio em caso de UPDATE)
  SELECT COUNT(*) INTO bilhetes_vendidos
  FROM bilhete
  WHERE voo_id = NEW.voo_id AND prim_classe = NEW.prim_classe
        AND (TG_OP = 'INSERT' OR id != NEW.id);

  -- Contar assentos disponíveis no avião do voo para essa classe
  SELECT COUNT(*) INTO capacidade_disponivel
  FROM assento
  WHERE no_serie = aviao_voo AND prim_classe = NEW.prim_classe;

  -- Verificação
  IF bilhetes_vendidos + 1 > capacidade_disponivel THEN
    RAISE EXCEPTION 'Capacidade excedida para a classe % no voo %, vendidos: %, capacidade: %',
      NEW.prim_classe, NEW.voo_id, bilhetes_vendidos, capacidade_disponivel;
  END IF;

  RETURN NEW;
END;
$$ LANGUAGE plpgsql;

CREATE TRIGGER trigger_plane_capacity
BEFORE INSERT OR UPDATE ON bilhete
FOR EACH ROW
EXECUTE FUNCTION plane_capacity();

++
||
++
++

(RI-3) A hora da venda tem de ser anterior à hora de partida de todos os voos para os quais foram comprados bilhetes na venda

In [18]:
%%sql
-- (RI-3)
CREATE OR REPLACE FUNCTION sale_schedule()
RETURNS TRIGGER AS $$
DECLARE
    voo_partida TIMESTAMP;
BEGIN
    SELECT hora_partida INTO voo_partida
    FROM voo
    WHERE id = NEW.voo_id;
    IF NOT FOUND THEN
        RAISE EXCEPTION 'Voo com ID % não encontrado.', NEW.voo_id;
    END IF;
    IF NEW.hora >= voo_partida THEN
        RAISE EXCEPTION 'Venda não pode ser feita após a partida do voo (ID %). Hora da venda: %, hora de partida: %',
            NEW.voo_id, NEW.hora, voo_partida;
    END IF;
    RETURN NEW;
END;
$$ LANGUAGE plpgsql;
CREATE TRIGGER trigger_sale_schedule
BEFORE INSERT ON venda
FOR EACH ROW
EXECUTE FUNCTION sale_schedule();

++
||
++
++

## 2. Preenchimento da Base de Dados [2 valores]

Preencha todas as tabelas da base de dados de forma consistente (após execução do ponto anterior) com os seguintes requisitos adicionais de cobertura:
- ≥10 aeroportos internacionais (reais) localizados na Europa, com pelo menos 2 cidades tendo 2 aeroportos
- ≥10 aviões de ≥3 modelos distintos (reais), com um número de assentos realista; assuma que as primeiras ~10% filas são de 1a classe
- ≥5 voos por dia entre 1 de Janeiro e 31 de Julho de 2025, cobrindo todos os aeroportos e todos os aviões; garanta que para cada voo entre dois aeroportos se segue um voo no sentido oposto; garanta ainda que cada avião tem partida no aeroporto da sua chegada anterior
- ≥30.000 bilhetes vendidos até à data presente, correspondendo a ≥10.000 vendas, com todo os bilhetes de voos já realizados tendo feito check-in, e com todos os voos tendo bilhetes de primeira e segunda classe vendidos
Deve ainda garantir que todas as consultas necessárias para a realização dos pontos seguintes do projeto produzem um resultado não vazio.

O código para preenchimento da base de dados deve ser compilado num ficheiro "populate.sql", anexado ao relatório, que contém com comandos INSERT ou alternativamente comandos COPY que populam as tabelas a partir de ficheiros de texto, também eles anexados ao relatório.

Para preencher a base de dados basta correr o seguinte comando no terminal:
```bash
psql -h postgres -U postgres
\i ~/data/populate.sql
```

## 3. Desenvolvimento de Aplicação [5 valores]

Crie um protótipo de RESTful web service para gestão de consultas por acesso programático à base de dados ‘Aviacao’ através de uma API que devolve respostas em JSON, implementando os seguintes endpoints REST:

|Endpoint|Descrição|
|--------|---------|
|/|Lista todos os aeroportos (nome e cidade).|
|/voos/\<partida>/|Lista todos os voos (número de série do avião,  hora de partida e aeroporto de chegada) que partem do aeroporto de \<partida> até 12h após o momento da consulta.|
|/voos/\<partida>/\<chegada>/|Lista os próximos três voos (número de série do avião e hora de partida) entre o aeroporto de \<partida> e o aeroporto de \<chegada> para os quais ainda há bilhetes disponíveis.|
|/compra/\<voo>/|Faz uma compra de um ou mais bilhetes para o \<voo>, populando as tabelas \<venda> e \<bilhete>. Recebe como argumentos o nif do cliente, e uma lista de pares (nome de passageiro, classe de bilhete) especificando os bilhetes a comprar.|
|/checkin/\<bilhete>/|Faz o check-in de um bilhete, atribuindo-lhe automaticamente um assento da classe correspondente.|

## 3. Vistas [2 valores]

Crie uma vista materializada que detalhe as informações mais importantes sobre os voos, combinando a informação de várias tabelas da base de dados. A vista deve ter o seguinte esquema:

 *estatisticas_voos(no_serie, hora_partida, cidade_partida, pais_partida, cidade_chegada, pais_chegada, ano, mes, dia_do_mes, dia_da_semana, passageiros_1c, passageiros_2c, assentos_1c, assentos_2c, vendas_1c, vendas_2c)*

em que:
- *no_serie, hora_partida*: correspondem aos atributos homónimos da tabela *voo*
- *cidade_partida, pais_partida, cidade_chegada, pais_chegada*: correspondem aos atributos *cidade* e *pais* da tabela *aeroporto*, para o aeroporto de *partida* e *chegada* do *voo*
- *ano, mes, dia_do_mes* e *dia_da_semana*: são derivados do atributo *hora_partida* da tabela *voo*
- *passageiros_1c, passageiros_2c:*: correspondem ao número total de bilhetes vendidos para o voo, de primeira e segunda classe respectivamente
- *assentos_1c, assentos_2c:*: correspondem ao número de assentos de primeira e segunda classe no avião que realiza o voo
- *vendas_1c, vendas_2c*: correspondem ao somatório total dos preços dos bilhetes vendidos para o voo, de primeira e segunda classe respectivamente

In [24]:
%%sql

DROP MATERIALIZED VIEW IF EXISTS estatisticas_voos;
    
CREATE MATERIALIZED VIEW estatisticas_voos AS
SELECT no_serie, hora_partida FROM voo;

SELECT * FROM estatisticas_voos;

1240 rows affected.

1240 rows affected.

+-----------+----------------------------+
|  no_serie |        hora_partida        |
+-----------+----------------------------+
| B737-2003 | 2025-01-01 10:30:48.095867 |
| A320-1005 | 2025-01-01 08:22:43.021383 |
| E190-3001 | 2025-01-01 14:09:16.634815 |
| B737-2002 | 2025-01-01 11:20:28.398138 |
| A320-1005 | 2025-01-01 15:05:48.811562 |
| E190-3001 | 2025-01-02 09:48:13.198814 |
| A320-1005 | 2025-01-02 13:19:53.486283 |
| B737-2003 | 2025-01-02 12:36:08.822316 |
| A320-1003 | 2025-01-02 15:40:33.511159 |
| A320-1002 | 2025-01-02 12:03:05.416166 |
| E190-3001 | 2025-01-03 15:50:16.069671 |
| E190-3001 | 2025-01-03 08:18:12.860164 |
| A320-1001 | 2025-01-03 11:59:36.974693 |
| B737-2003 | 2025-01-03 11:54:53.089884 |
| B737-2003 | 2025-01-03 17:55:16.426394 |
| B737-2003 | 2025-01-04 10:42:13.896893 |
| B737-2002 | 2025-01-04 15:20:53.946933 |
| E190-3002 | 2025-01-04 14:04:22.265325 |
| E190-3001 | 2025-01-04 13:56:27.046330 |
| A320-1005 | 2025-01-04 09:18:21.303193 |
| A320-1001 | 2025-01-04 08:18:07.922065 |
| A320-1002 | 2025-01-04 10:52:04.854235 |
| B737-2001 | 2025-01-04 11:29:04.852270 |
| E190-3001 | 2025-01-05 12:12:44.221489 |
| E190-3002 | 2025-01-05 10:26:11.894741 |
| B737-2002 | 2025-01-05 09:53:17.462695 |
| B737-2001 | 2025-01-05 14:50:20.523332 |
| A320-1005 | 2025-01-05 17:33:00.989816 |
| E190-3002 | 2025-01-05 17:42:46.703637 |
| A320-1004 | 2025-01-05 16:20:16.757143 |
| A320-1001 | 2025-01-05 11:44:40.356737 |
| A320-1005 | 2025-01-06 14:16:28.548284 |
| E190-3002 | 2025-01-06 09:35:47.646368 |
| A320-1001 | 2025-01-06 16:41:30.979280 |
| A320-1002 | 2025-01-06 10:00:59.667001 |
| B737-2003 | 2025-01-06 16:58:00.833552 |
| A320-1005 | 2025-01-07 16:23:23.259200 |
| E190-3001 | 2025-01-07 15:39:09.104374 |
| E190-3002 | 2025-01-07 08:26:40.034747 |
| A320-1002 | 2025-01-07 12:06:51.675439 |
| A320-1004 | 2025-01-07 08:14:35.482823 |
| A320-1001 | 2025-01-08 15:46:29.470463 |
| A320-1002 | 2025-01-08 13:21:17.965878 |
| A320-1004 | 2025-01-08 11:52:41.537075 |
| A320-1001 | 2025-01-08 15:48:00.211040 |
| B737-2002 | 2025-01-08 11:52:08.911662 |
| E190-3002 | 2025-01-09 09:01:46.569425 |
| B737-2002 | 2025-01-09 09:03:53.669201 |
| B737-2003 | 2025-01-09 16:40:01.925532 |
| E190-3001 | 2025-01-09 10:16:17.453871 |
| A320-1001 | 2025-01-09 08:01:29.858260 |
| B737-2001 | 2025-01-10 16:34:01.117506 |
| B737-2003 | 2025-01-10 16:48:54.539314 |
| A320-1004 | 2025-01-10 13:29:04.713089 |
| A320-1002 | 2025-01-10 11:43:44.018818 |
| B737-2001 | 2025-01-10 10:25:41.076675 |
| A320-1005 | 2025-01-11 09:46:17.317351 |
| A320-1005 | 2025-01-11 10:33:34.691371 |
| A320-1003 | 2025-01-11 16:57:05.444877 |
| B737-2002 | 2025-01-11 08:01:20.445821 |
| B737-2003 | 2025-01-11 15:13:41.725100 |
| B737-2002 | 2025-01-11 09:05:04.666415 |
| A320-1002 | 2025-01-11 08:11:59.067258 |
| A320-1005 | 2025-01-11 09:39:21.163329 |
| A320-1001 | 2025-01-12 08:40:50.465271 |
| E190-3002 | 2025-01-12 13:14:30.431562 |
| A320-1002 | 2025-01-12 09:21:14.089053 |
| A320-1001 | 2025-01-12 11:21:42.888491 |
| A320-1005 | 2025-01-12 09:21:23.531960 |
| A320-1005 | 2025-01-12 12:54:51.185567 |
| E190-3001 | 2025-01-12 15:53:37.354703 |
| B737-2001 | 2025-01-12 08:24:42.914507 |
| B737-2001 | 2025-01-13 17:26:44.181962 |
| E190-3002 | 2025-01-13 12:22:50.074609 |
| B737-2003 | 2025-01-13 17:26:43.259423 |
| A320-1001 | 2025-01-13 17:49:21.487234 |
| A320-1001 | 2025-01-13 08:17:56.934392 |
| A320-1001 | 2025-01-14 12:03:59.907469 |
| B737-2001 | 2025-01-14 12:53:07.998882 |
| A320-1001 | 2025-01-14 16:08:38.134208 |
| B737-2003 | 2025-01-14 08:28:33.447119 |
| A320-1004 | 2025-01-14 13:19:41.377301 |
| B737-2002 | 2025-01-15 10:24:14.924178 |
| B737-2001 | 2025-01-15 10:12:46.323644 |
| E190-3001 | 2025-01-15 08:02:39.332015 |
| A320-1005 | 2025-01-15 13:57:54.800901 |
| A320-1001 | 2025-01-15 08:14:26.133246 |
| A320-1003 | 2025-01-16 13:05:36.114841 |
| A320-1003 | 2025-01-16 09:10:05.633002 |
| A320-1001 | 2025-01-16 16:19:01.576214 |
| B737-2001 | 2025-01-16 09:28:58.086687 |
| A320-1005 | 2025-01-16 14:34:22.289446 |
| A320-1002 | 2025-01-17 15:31:22.674166 |
| B737-2002 | 2025-01-17 13:37:20.707354 |
| E190-3001 | 2025-01-17 09:01:48.384536 |
| A320-1003 | 2025-01-17 16:40:35.112372 |
| E190-3001 | 2025-01-17 15:36:24.855425 |
| A320-1005 | 2025-01-18 10:16:25.592226 |
| B737-2002 | 2025-01-18 12:09:59.599638 |
| B737-2001 | 2025-01-18 17:07:59.373349 |
+-----------+----------------------------+
Truncated to displaylimit of 100.

## 5. Análise de Dados SQL e OLAP [5 valores]

Usando apenas a vista *estatisticas_voos* desenvolvida no ponto anterior, e **sem recurso ao operador LIMIT e com recurso ao operador WITH apenas se estritamente necessário**, apresente a consulta SQL mais sucinta para cada um dos seguintes objetivos analíticos da empresa. Pode usar agregações OLAP para os objetivos em que lhe parecer adequado.

1. Determinar a(s) rota(s) que tem/têm a maior procura para efeitos de aumentar a frequência de voos dessa(s) rota(s). Entende-se por rota um trajeto aéreo entre quaisquer duas cidades,  independentemente do sentido (e.g., voos Lisboa-Paris e Paris-Lisboa contam para a mesma rota). Considera-se como indicador da procura de uma rota o preenchimento médio dos aviões (i.e., o rácio entre o número total de passageiros e a capacidade total do avião) no último ano.

In [ ]:
%%sql
-- SELECT ...

2. Determinar as rotas pelas quais nos últimos 3 meses passaram todos os aviões da empresa, para efeitos de melhorar a gestão da frota.

In [ ]:
%%sql
-- SELECT ...

3. Explorar a rentabilidade da empresa (vendas globais e por classe) nas dimensões espaço (global > pais > cidade, para a partida e chegada em simultâneo) e tempo (global > ano > mes > dia_do_mes), como apoio a um relatório executivo.

In [ ]:
%%sql
-- SELECT ...

4. Descobrir se há algum padrão ao longo da semana no rácio entre passageiros de primeira e segunda classe, com drill down na dimensão espaço (global > pais > cidade), que justifique uma abordagem mais flexível à divisão das classes.

In [ ]:
%%sql
-- SELECT ...

## 6. Índices [3 valores]

É expectável que seja necessário executar consultas semelhantes ao colectivo das consultas do ponto anterior diversas vezes ao longo do tempo, e pretendemos otimizar o desempenho da vista estatisticas_voos para esse efeito. Crie sobre a vista o(s) índice(s) que achar mais indicados para fazer essa otimização, justificando a sua escolha com argumentos teóricos e com demonstração prática do ganho em eficiência do índice por meio do comando EXPLAIN ANALYSE. Deve procurar uma otimização coletiva das consultas, evitando criar índices excessivos, particularmente se estes trazem apenas ganhos incrementais a uma das consultas.

Código para criação dos índices

In [ ]:
%%sql
-- CREATE INDEX ...

Justificação teórica e prática (sumarizando observações com EXPLAIN ANALYSE)